body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: rgb(180, 179, 179);
}
#logo {
  height: 250px;
  width: 400px;
  border: 8px solid gray;
}
#head {
  text-align: center;
}

#head #bodyTitle {
  font-size: 50px;
}
#head #searchForm {
  height: 50px;
  width: 350px;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 30px;
}

#head #searchForm #searchInput {
  height: 60px;
  width: 300px;
  font-size: xx-large;
}
#head #searchForm #searchBtn {
  font-size: xx-large;
}

#head #addMovieBtn,
#head #seeMovieBtn,
#head #hideMovieBtn {
  height: 100px;
  width: 200px;
  border-radius: 10px;
  font-size: 25px;
  display: inline;
  margin: 30px;
}
#head #hideMovieBtn {
  display: none;
}

#form {
  margin: 50px;
  display: none;
  justify-content: center;
}

#form #movieForm {
  width: 800px;
  height: 250px;
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#form #movieForm #movie-title,
#form #movieForm #genre,
#form #movieForm #releaseDate,
#form #movieForm #submitFormBtn {
  font-size: xx-large;
}

#confirmation {
  display: none;
}
#confirmation #confirm-msg {
  font-size: 50px;
  text-align: center;
}
#movieList {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#movieList #movie-article {
  margin: 10px;
  text-align: center;
  height: 250px;
  width: 450px;
  padding: 30px;
  border: 2px solid black;
}
#movieList #movie-article #movie-name {
  font-size: xx-large;
  margin-top: 10px;
}
#movieList #movie-article #movie-genre {
  font-size: x-large;
}
#movieList #movie-article #movie-releaseDate {
  font-size: x-large;
}
#movieList #movie-article #watched-toggleBtn,
#movieList #movie-article #delete-Btn {
  margin: 30px;
  margin-top: 10px;
  height: 40px;
  width: 150px;
  font-size: 20px;
  border-radius: 6px;
}
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid gray;
}
#footer #footerImg {
  height: 100px;
  width: 90px;
  border: 1px solid black;
}
#footer #footerContact {
  font-size: xx-large;
}
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: black;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}
#movieList #emptyMsg {
  font-size: 60px;
}
#confirmation #searchValidInputMsg {
  font-size: x-large;
  position: absolute;
  top: 50px;
  right: 360px;
}
#form #formValidInputMsg {
  font-size: xx-large;
  position: absolute;
  top: 750px;
  right: 650px;
}
